.bgImg {
    background-image: url('../images/wooden-cross.jpg');
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;

    // if border:
    //height: 850px;
    //border: 15px solid #fff;
}   